@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" asp-for="SearchTerm" />
            <span>
                <button class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<div><a asp-page="./Edit" class="btn btn-success">Add New Restaurant</a></div>
<br />
<!--Render restaurants using table view-->
<!--<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
        </tr>
    </thead>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a asp-page="./Details"
                   asp-route-restaurantId="@restaurant.Id"
                   class="btn btn-primary">
                    Details
                </a>
                <a asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id"
                   class="btn btn-success">
                    Edit
                </a>
                <a asp-page="./Delete"
                   asp-route-restaurantId="@restaurant.Id"
                   class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>-->

<!--Render restaurants using partial views-->
@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
    <br />
}



@if (Model.Message != null)
{
    <div class="alert alert-success">@Model.Message</div>
}

@section footer
{
    @Model.ConfigMessage
}
